html {
  font-family:'Helvetica Neue',Helvetica, Aria;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  background: #091E34;
  color: #4C4C4C;
  overflow:hidden;
}
body {
  width: 100%;

}
h1,h2,h3,h4,h5,h6 {
  font-family: 'Helvetica Neue';
  font-weight: normal;
  color: #6D6E6F;
  text-transform: none;
  margin: 0;
}
/*
 * a,p样式
 */

a{
  text-decoration: none;
 }
a:active,
a:hover {
  outline: 0;
}

a,
.an_link {
  text-decoration: none;
  cursor: pointer;
}
a:hover,
.an_link:hover {
  text-decoration: none;
}
p{
  color: #6D6E6F;
  font-size: 14px;
 }
.main{
  vertical-align: middle;
  text-align: center;
 }
.header{
  text-align: center;
  width: 100%;
  position: relative;
  margin: 0 auto;
  max-width: 720px;
  padding-top: 180px;
}
.header_logo img{
  width: 174px;
}
.title{
  padding-top: 30px;
}
.title a{
  color: #70C19A;
}
.title a:hover{
  color: #F8E71C;
}
.header h2{
  font-size: 36px;
  margin: 0;
  color: #63759A;
  font-family: 'Rajdhani', sans-serif;
}
.header a{
  color: #fff;
}
.header p{
  font-size: 14px;
  color: #5B6E97;
}
.start{
  padding-top: 40px;
}
.plugin{
  text-align: center;
  z-index: -1;
}

.footer{
  margin: 0 auto;
  text-align: center;
  display:inline-block;
  position: absolute;
  bottom:40px;
  left: 50%;
  margin-left:-18px; 


}
.start a{
   color: #BCCCEC;
}
.btn{
  border-radius: 40px;
  border:0;
  width: 120px;
  padding: 15px 30px;
  font-size: 14px;
  color: #7F9AD2;
  background-color: #202B42;
  outline: none;
}
.btn:hover{
  background-color: #202A40;
  width: 120px;
  color:#BCCCEC;
}


.footer a {
  color: #fff;
  font-size: 20px;
  padding-right: 5px;

}
.footer a:hover{
  color: #F8E71C;
  font-size: 20px;

}
.footer p{
  position: absolute;
  top: 420px;
  color: #70C19A;
  padding-left: 20px;
  font-size: 13px;
  z-index: 1;
  font-family: Consolas;
}
.footer img{
  width: 100%;


}
.animated.fadeIn{
  animation-delay:0.7s;
}
.description p{
  background-color: #F7F7F7;
  border-radius: 5px;
  padding: 20px;
}
.typed-cursor{
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}
@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}