html {
  font-family:'Helvetica Neue',Helvetica, Aria;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  background: #fff;
  color: #4C4C4C;
  overflow:hidden;
}
body {
  margin: 0;
  width: 100%;

}
h1,h2,h3,h4,h5,h6 {
  font-family: 'Helvetica Neue';
  font-weight: normal;
  color: #6D6E6F;
  text-transform: none;
  margin: 0;
}
/*
 * a,p样式
 */

a{
  text-decoration: none;
 }
a:active,
a:hover {
  outline: 0;
}

a,
.an_link {
  text-decoration: none;
  cursor: pointer;
}
a:hover,
.an_link:hover {
  text-decoration: none;
}
p{
  color: #6D6E6F;
  font-size: 14px;
 }
.main{
  width:720px;
  margin: 0 auto;
 }
.header{
  text-align: center;
  padding-top: 30px;
}
.header a{
  color: #70C19A;
}
.header a:hover{
  color: #64AB89;
}
.header h2{
  font-size: 50px;
  padding-top: 50px;
  margin: 0;
  color: #4C4C4C;
  font-family: 'Indie Flower', cursive;
}
.header p{
  font-size: 14px;
  color: #AAAAAA;
}
.plugin{
  text-align: center;
  z-index: -1;
}

.footer{
  margin: 0 auto;
  padding-top:40px;
}
.footer p{
  position: absolute;
  top: 420px;
  color: #70C19A;
  padding-left: 20px;
  font-size: 13px;
  z-index: 1;
  font-family: Consolas;
}
.footer img{
  width: 100%;


}
.animated.fadeIn{
  animation-delay:0.7s;
}
.description p{
  background-color: #F7F7F7;
  border-radius: 5px;
  padding: 20px;
}